{% extends 'blog/base.html' %}

{% block heading %}
    How Tarot Works
{% endblock heading %}

{% block blurb %}
    My beliefs and practices while reading tarot.
{% endblock blurb %}
    
{% block content %}
    <br>
    <div class="container">
        <div class="columns">
            <div class="column">
                <h3 class="subtitle is-4">What is "Tarot"?</h3>
                <p>Tarot is, at it's core, asking questions and receiving answers to those questions. The only thing that makes Tarot different or special
                    is the introduction of symbollic representations of answers by way of drawing cards. This means to me, as a chaote, that Tarot is a method
                    of asking the waking, conscious Universe a question and receiving an answer through fate - or chance or luck - by way of drawing cards
                    and interpreting the meaning of their imagery.</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <h3 class="subtitle is-4">Nothing is True, Everything is Permitted</h3>
                <p>
                    There are Tarot readers who do not believe the cards can predict the future. There are Tarot readers who believe
                    that the cards <strong>can not</strong> predict the future.
                </p>
                <br><br>
                <p>Presently, I consider myself somewhere in between those two beliefs.</p>
                <br>
                <p>The readers who believe the cards can not determine future events are correct in their belief that what cards tell us are not set in stone.
                    Luckily, the mere act of asking the cards about the future has a direct impact on how we move through the world and progress into the future.
                    To me, the phrase, "Nothing is true, everything is permitted", means that a potential outcome or answer has been laid out in Tarot, but it
                    is up to us to either fulfill that prediction or side step it. Nothing is set in stone. We have many paths available to us. <strong>But, this is the
                    path that is most relevant to the question being asked at this specific moment in Universal time.</strong>
                </p>
                <br>
                <h3 class="subtitle is-4">So... What does a tarot reading look like?</h3>
                </div>
            <br>

        </div>
    </div>
{% endblock content %}
    